name: HACS Action

on:
  workflow_dispatch:
  push:
  pull_request:
  pull_request_target:

permissions:
  contents: read
  checks: write
  pull-requests: write
  statuses: write

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
      - name: Report HACS Status
        if: always()
        uses: actions/github-script@v7
        with:
          script: |
            const conclusion = '${{ job.status }}'.toLowerCase();
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: conclusion === 'success' ? 'success' : 'failure',
              description: conclusion === 'success' ? 'HACS validation passed!' : 'HACS validation failed.',
              context: 'HACS Validation'
            });
